/*
*
* West v1
* Copyright 2013, Joe Richardson
* joey.so/west
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*
*/

aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

html {
  font-size: 100%;
  overflow-x:hidden;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

input:focus,
textarea:focus {
  outline: none;
}

label,
select,
button,
input[type="submit"],
input[type="radio"],
input[type="checkbox"] input[type="button"] {
  cursor: pointer;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

* {
  font-size:100%;
  margin: 0;
  padding: 0;
  list-style:none;
  outline:none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden; 
  font:16px/1.4em "Source Sans Pro";
}

.nav-btn {
  margin:40px;
  padding:10px;
  background:#212b35;
  color:#fff;
  border:0;
  border-radius:3px;
  font-size:20px;
  font-weight:700;
  padding-top:4px;
  padding-bottom:6px;
}

.wraps {
    width:50%;
    max-width:500px;
    margin:0 auto;
}

h1 {
    font-size:2em;
    margin-bottom:30px;
}

p {
    margin-bottom:50px;
    line-height:150%;
    word-spacing:3px;
}

.slideWrap {
  position: fixed;
  top:0;
  left:-250px;
  background:#212b35;
  width:250px;
  padding-top:40px;
  height:100%;
}

.orderSlide > li > a,a:visited {
  font-size:15px;
  font-weight:600;
  color:#e1e6d0;
  display:block;
  padding:10px;
  padding-left:20px;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}


.orderSlide > li > a:hover {
  background:#2a3644;
  color:#fff;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

body, .slideWrap{
  -webkit-transition: margin 0.2s ease-in-out;
     -moz-transition: margin 0.2s ease-in-out;
          transition: margin 0.2s ease-in-out;
}

body.is-offscreen, 
body.is-offscreen .slideWrap{
  margin-left:250px;
}

/* small */
 @media (max-width: 480px) {
    .wraps {
        width:90%;
        min-width:370px;
        padding:30px;
    }
}

/* tablet */
 @media (max-width: 800px) {
    .wraps {
        width:80%;
        min-width:600px;
        padding:30px;
    }
}

/* small desktop */
 @media (min-width: 800px) and (max-width: 1100px) {
    .wraps {
        width:70%;
        min-width:600px;
        padding:30px;
    }
}
