* {
	font-size:100%;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
	height:100%;
}

section {
	width:60%;
	margin:40px auto;
}

body {
  background: url('../default-image.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.trigger {
	position:absolute;
	right:-65px;
	top:0;
	background:#222;
	padding:15px 20px 15px 20px;
	color:#fff;
	border:0;
	font-size:2em;
	cursor:pointer;
	outline:none;
	z-index:10000000000000;
}

.navWrap {
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:250px;
	background:#222;
	padding:10px 0px 0px 0px;
	margin-left:-250px;
	font-family: "Montserrat", Arial, Helvetica, Helvetica Neue;
	font-size: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.open {
	margin-left:0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bodyLeft {
	margin-left:250px;
	width:100%;
	overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.mainList li {
	list-style:none;
}

.mainList a,a:visited {
	display:block;
	padding:20px 20px 20px 30px;
	color:#bbb;
	text-decoration: none;
}

.mainList a:hover {
	color:#fff;
	text-decoration: none;
}