
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

input:focus,
textarea:focus {
  outline: none;
}

label,
select,
button,
input[type="submit"],
input[type="radio"],
input[type="checkbox"] input[type="button"] {
  cursor: pointer;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

* {
  font-size:100%;
  margin: 0;
  padding: 0;
  list-style:none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font:16px/1.4em "Source Sans Pro";
  background: url('../img/kanye-desktop.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.nav-btn {
  margin:20px;
  padding:10px;
  background:#212b35;
  color:#fff;
  border:0;
  border-radius:3px;
  font-size:20px;
  font-weight:700;
  padding-top:4px;
  padding-bottom:6px;
}

.slideWrap {
  position: fixed;
  display:none;
  top:0;
  left:-250px;
  background:#212b35;
  width:250px;
  padding-top:40px;
  height:100%;
}

.orderSlide > li > a,a:visited {
  font-size:15px;
  font-weight:600;
  color:#e1e6d0;
  display:block;
  padding:10px;
  padding-left:20px;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}


.orderSlide > li > a:hover {
  background:#2a3644;
  color:#fff;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
